header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo{
width: 22px;
}

section{
    margin-top: 30px;
    padding: 20px;
}
body{
    margin: 0!important;
}
.h1form{
    margin-left: 20px;
}
.text-block{
    color: blue;
    font-size: large;
}
.th{
    align-content: left;
}

.text-al{
    margin-left: 20px;
    text-align: left;
}

.number{
    background-color: forestgreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}